<!DOCTYPE html>
<html lang="en">
<head>
  <title>Learn Machine Learning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <style>

    .card-deck{
      margin-top: 85px;
      padding-left: 250px;
      padding-right: 250px;
      
    }
    .cardlink::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
}

.card-img-top{
  width:100%;
  height:auto;
}
.card-body{
  background-color: white;
}



  </style>

</head>

<body style="background-color: rgb(12, 49, 82);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Machine Learning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact_us">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about_us">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class=>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="{{url_for('static',filename='images/regression1.png')}}" alt="...">
      <div class="card-body">
        <h5 class="card-title">Regression</h5>
        <p class="card-text">Predict the output based on your dataset and model Training</p>
        <a href="/regression" class="cardlink"></a>
      </div>
    </div>

    <div class="card">
      <img src="{{url_for('static',filename='images/neural.png')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Classification</h5>
        <p class="card-text">Classify your labeled data </p>
        <a href="/train_classification" class="cardlink"></a>
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="{{url_for('static',filename='images/nn12.jpg')}}" alt="...">
      <div class="card-body">
        <h5 class="card-title">Neural Networks</h5>
        <p class="card-text">Classify your data using Neural networks </p>
        <a href="/NeuralNetworks" class="cardlink"></a>
      </div>
    </div>

  </div>
</div>

</body>

</html>